language: python
python:
  - '2.7'

before_install:
   # add for profile
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq


install:
# add for profile
  - sudo apt-get install -qq g++-4.8
  - export CXX="g++-4.8"
  - pip install nose-cprof
  - pip install properform
  - pip install -r requirements.txt
  
before_script:
  - psql -c 'create database testing_db;' -U postgres
script:
  - nosetests tests.py --with-cprofile --cprofile-stats-erase --cprofile-stats-file=profile_cs373-idb_6ec4fe3b15_4
  - python -m properform Push 47.88.50.110:15554 asdf_cs373-idb_6ec4fe3b15_4 ./profile_cs373-idb_6ec4fe3b15_4
  - bash travis.bash

env:
  global:
    secure: "DSZxg9+1wRtSz9BWt+rDM6WnfW6nUlqbQEoVvsZT8kcut6tZwRKY7fHIGH9A/bqUVinADQ7791QtUcMch6w87ZWix7u4FuPLEpL6QX4C8nvhWrLdcEA4kPQHIN3ok8JFLgKr+2hvd7TWyZe7YacWzfBx/taw6tR+SdE7ey0u2sw=" #2017-09-16 13:29:19 modified at 0 #2017-09-16 13:29:23 modified at 1 #2017-09-16 13:29:28 modified at 2 #2017-09-16 13:29:32 modified at 3 #2017-09-16 13:29:37 modified at 4